*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  
}
body{
    background-color: black;
    overflow: hidden;
    color: white;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: #000000;
    width: 340px;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-right: 0;
}
.body{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem ;
    margin: 0.5rem;
    overflow: auto;
    
}
.player{
    background-color: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 1rem;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
a{
    text-decoration: none;
    color: white;
}
.nav-option{
    line-height: 3rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.lib{
    background-color: #121212;
    height: 100%;
    border-radius: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
}
.lib-body{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.lib-head img{
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.75rem;
       
}
.lib-head{
    margin: 1rem 1rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.7;
}
.lib-head:hover{
    opacity: 1;
}
.lib-head i{
margin: 0 1rem;
font-size: 1.25rem;
position: relative;
top: 0.2rem;
}
.up span {
height: 2rem;
width: 9rem;
margin: 0 0.85rem;
margin-top: 0.5rem;
margin-bottom: 1rem;
}
.up{
    background-color: #222222;
    /* margin: 0 0.40rem; */
    border-radius: 0.5rem;
}
.up h5{
    margin: 1.25rem 0.75rem;
    font-weight: 600;
    margin-bottom: 1.1rem;
    line-height: 1.9rem;
}
.up p{
    margin: 1.10rem 0.85rem; 
    font-size: 0.9rem;
    font-weight: 500;
}
.up a p{
    color: black;
    font-size: 0.8rem;
    position: relative;
    bottom: 0.7rem;
    right: 0.2rem;
    font-weight: 700;
}
.down span {
    height: 2rem;
    width: 9rem;
    margin: 0 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    }
.down{
        background-color: #222222;
        /* margin: 0 0.40rem; */
        border-radius: 0.5rem;
        margin-top: 2rem;
    }
.down h5{
        margin: 1.25rem 0.75rem;
        font-weight: 600;
        margin-bottom: 1.1rem;
        line-height: 1.9rem;
    }
.down p{
        margin: 1.10rem 0.85rem; 
        font-size: 0.9rem ;
        font-weight: 500;
}
.down a p{
        color: black;
        font-size: 0.8rem;
        position: relative;
        bottom: 0.7rem;
        right: 0.2rem;
        font-weight: 700;
}
.icons{
    display: flex;
}
.sticky-nav{
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    z-index: 3;

}
.ico{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.7rem;
    opacity: 0.7;
    margin-top: 0.5rem;
}
.ico :hover{
    opacity: 1;
}
.sticky-nav img {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 0.3rem;
    opacity: 0.7;
}
.text a{
    font-weight: 600;
    color: #A7A7A7;
    margin-left: 2rem;
}
.text a:hover{
    color: white;
}
.sign-up{
    height: 3.35rem;
    width: 7rem;
    border-radius: 3rem;
    color: black;
    font-weight: 600;
    /* border: none; */
}
.sign-up:hover{
    box-shadow: 0 0 0.5rem wheat;
}
.cards{
    background: linear-gradient(180deg , #1d1d1dcf , #121212);
    height: 100%;
    padding: 1.25rem 2rem; 
}
@media (max-width:1024px) {
    .hide{
        display: none;
    }
}

.card{
    padding: 1rem;
    /* height: 23rem; */
    width: 17rem;
    margin: 1.5rem 0;
    overflow: hidden;
    background-color: transparent;
    margin-right: 1.5rem;
    border: none;
    border-radius: 1rem;
}
.card div{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #1DB954;
    position: absolute;
    left: 11.5rem;
    bottom: 7.5rem;
    opacity: 0 ;
}
.card i{
    font-size: 2rem;
    position: relative;
    top: 0.8rem;
    left: 1.1rem;
   
}
.card div :hover{
    opacity: 1;
}
.card:hover {
    background-color: #282828e2; 
    
}

.card img{
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

}
.card h5 {
    font-weight: 700;
    color: white;
}
.card p {
    font-weight: 700;
    color: #717070;
}

.card-heading{
    display: flex;
    justify-content: space-between;
}
.card-heading h6{
    position: relative;
    top: 0.6rem;
    font-weight: 700;
    color: #8f8f8f;
}
.card-heading h6:hover {
    text-decoration: underline;
    cursor: pointer;
}
.podcasts{
    display: flex;
}
.fotter{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: top;
}
.line{
    background-color: white;
    width: 100%;
    height: 2px;
    opacity: 0.6;
}